<section class="gallery section">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <ul class="gallery__list">
            <li class="gallery__item">
                <picture>
                    <source srcset="
            ./images/gallery/mobile/gallery-1-mobile.png    1x,
            ./images/gallery/mobile/gallery-1-mobile@2x.png 2x
          " media="(max-width: 767px)" />
                    <source srcset="
            ./images/gallery/tablet/gallery-1-tablet.png    1x,
            ./images/gallery/tablet/gallery-1-tablet@2x.png 2x
          " media="(max-width: 1199px)" />

                    <img class="picture" srcset="./images/gallery/desktop/gallery-1-desktop@2x.png 2x"
                        src="./images/gallery/desktop/gallery-1-desktop.png" alt="ice cream in a plate" />
                </picture>
            </li>
            <li class="gallery__item gallery__item--1">
                <picture>
                    <source srcset="
            ./images/gallery/mobile/gallery-2-mobile.png    1x,
            ./images/gallery/mobile/gallery-2-mobile@2x.png 2x
          " media="(max-width: 767px)" />
                    <source srcset="
            ./images/gallery/tablet/gallery-2-tablet.png    1x,
            ./images/gallery/tablet/gallery-2-tablet@2x.png 2x
          " media="(max-width: 1199px)" />

                    <img class="picture" srcset="./images/gallery/desktop/gallery-2-desktop@2x.png 2x"
                        src="./images/gallery/desktop/gallery-2-desktop.png" alt="ice cream in a plate" />
                </picture>
                <picture>
                    <source srcset="
            ./images/gallery/mobile/gallery-3-mobile.png    1x,
            ./images/gallery/mobile/gallery-3-mobile@2x.png 2x
          " media="(max-width: 767px)" />
                    <source srcset="
            ./images/gallery/tablet/gallery-3-tablet.png    1x,
            ./images/gallery/tablet/gallery-3-tablet@2x.png 2x
          " media="(max-width: 1199px)" />

                    <img class="picture" srcset="./images/gallery/desktop/gallery-3-desktop@2x.png 2x"
                        src="./images/gallery/desktop/gallery-3-desktop.png" alt="ice cream in a plate" />
                </picture>
            </li>
            <li class="gallery__item gallery__item--large">
                <picture>
                    <source srcset="
            ./images/gallery/mobile/gallery-4-mobile.png    1x,
            ./images/gallery/mobile/gallery-4-mobile@2x.png 2x
          " media="(max-width: 767px)" />
                    <source srcset="
            ./images/gallery/tablet/gallery-4-tablet.png    1x,
            ./images/gallery/tablet/gallery-4-tablet@2x.png 2x
          " media="(max-width: 1199px)" />

                    <img class="picture" srcset="./images/gallery/desktop/gallery-4-desktop@2x.png 2x"
                        src="./images/gallery/desktop/gallery-4-desktop.png" alt="ice cream in a plate" />
                </picture>
                <picture>
                    <source srcset="
            ./images/gallery/mobile/gallery-5-mobile.png    1x,
            ./images/gallery/mobile/gallery-5-mobile@2x.png 2x
          " media="(max-width: 767px)" />
                    <source srcset="
            ./images/gallery/tablet/gallery-5-tablet.png    1x,
            ./images/gallery/tablet/gallery-5-tablet@2x.png 2x
          " media="(max-width: 1199px)" />

                    <img class="picture" srcset="./images/gallery/desktop/gallery-5-desktop@2x.png 2x"
                        src="./images/gallery/desktop/gallery-5-desktop.png" alt="ice cream in a plate" />
                </picture>
            </li>
            <li class="gallery__item gallery__item--2">
                <picture>
                    <source srcset="
            ./images/gallery/mobile/gallery-6-mobile.png    1x,
            ./images/gallery/mobile/gallery-6-mobile@2x.png 2x
          " media="(max-width: 767px)" />
                    <source srcset="
            ./images/gallery/tablet/gallery-6-tablet.png    1x,
            ./images/gallery/tablet/gallery-6-tablet@2x.png 2x
          " media="(max-width: 1199px)" />

                    <img class="picture" srcset="./images/gallery/desktop/gallery-6-desktop@2x.png 2x"
                        src="./images/gallery/desktop/gallery-6-desktop.png" alt="ice cream in a plate" />
                </picture>
                <picture>
                    <source srcset="
            ./images/gallery/mobile/gallery-7-mobile.png    1x,
            ./images/gallery/mobile/gallery-7-mobile@2x.png 2x
          " media="(max-width: 767px)" />
                    <source srcset="
            ./images/gallery/tablet/gallery-7-tablet.png    1x,
            ./images/gallery/tablet/gallery-7-tablet@2x.png 2x
          " media="(max-width: 1199px)" />

                    <img class="picture" srcset="./images/gallery/desktop/gallery-7-desktop@2x.png 2x"
                        src="./images/gallery/desktop/gallery-7-desktop.png" alt="ice cream in a plate" />
                </picture>
            </li>
            <li class="gallery__item gallery__item--3">
                <picture>
                    <source srcset="
            ./images/gallery/mobile/gallery-8-mobile.png    1x,
            ./images/gallery/mobile/gallery-8-mobile@2x.png 2x
          " media="(max-width: 767px)" />
                    <source srcset="
            ./images/gallery/tablet/gallery-8-tablet.png    1x,
            ./images/gallery/tablet/gallery-8-tablet@2x.png 2x
          " media="(max-width: 1199px)" />

                    <img class="picture" srcset="./images/gallery/desktop/gallery-8-desktop@2x.png 2x"
                        src="./images/gallery/desktop/gallery-8-desktop.png" alt="ice cream in a plate" />
                </picture>
                <picture>
                    <source srcset="
            ./images/gallery/mobile/gallery-9-mobile.png    1x,
            ./images/gallery/mobile/gallery-9-mobile@2x.png 2x
          " media="(max-width: 767px)" />
                    <source srcset="
            ./images/gallery/tablet/gallery-9-tablet.png    1x,
            ./images/gallery/tablet/gallery-9-tablet@2x.png 2x
          " media="(max-width: 1199px)" />

                    <img class="picture" srcset="./images/gallery/desktop/gallery-9-desktop@2x.png 2x"
                        src="./images/gallery/desktop/gallery-9-desktop.png" alt="ice cream in a plate" />
                </picture>
            </li>
            <li class="gallery__item">
                <picture>
                    <source srcset="
            ./images/gallery/mobile/gallery-10-mobile.png    1x,
            ./images/gallery/mobile/gallery-10-mobile@2x.png 2x
          " media="(max-width: 767px)" />
                    <source srcset="
            ./images/gallery/tablet/gallery-10-tablet.png    1x,
            ./images/gallery/tablet/gallery-10-tablet@2x.png 2x
          " media="(max-width: 1199px)" />

                    <img class="picture" srcset="./images/gallery/desktop/gallery-10-desktop@2x.png 2x"
                        src="./images/gallery/desktop/gallery-10-desktop.png" alt="ice cream in a plate" />
                </picture>
            </li>
        </ul>
    </div>
</section>