<section class="header">
  <div class="container">
    <a href="./index.html"><img src="./images/header/logo.svg" alt="logo" /></a>

    <nav class="header__desctop">
      <ul class="header__nav">
        <li class="header__list">
          <a class="header__link" href="#hero">Home</a>
        </li>
        <li class="header__list">
          <a class="header__link" href="#about">About us</a>
        </li>
        <li class="header__list">
          <a class="header__link" href="#advantages">How it’s made?</a>
        </li>
        <li class="header__list">
          <a class="header__link" href="#products">Our products</a>
        </li>
        <li class="header__list">
          <a class="header__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <button
      class="header__btn-open js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="header__icon-open">
        <use href="./images/header/icon1.svg#icon-burger"></use>
      </svg>
    </button>

    <button class="header__btn header__btn--hidden" type="button">
      Buy now
      <svg class="header__arrov" aria-hidden="true">
        <use href="./images/header/icon.svg#icon-arrov"></use>
      </svg>
    </button>

    <div class="header__burger js-menu-container" id="mobile-menu">
      <button type="button" class="header__btn-close js-close-menu">
        <svg class="header__icon-close">
          <use href="./images/header/icon1.svg#icon-close"></use>
        </svg>
      </button>

      <button class="header__btn" type="button">
        Buy now
        <svg class="header__arrov" aria-hidden="true">
          <use href="./images/header/icon.svg#icon-arrov"></use>
        </svg>
      </button>
      <nav>
        <ul class="header__nav">
          <li class="header__list">
            <a class="header__link" href="#hero">Home</a>
          </li>
          <li class="header__list">
            <a class="header__link" href="#about">About us</a>
          </li>
          <li class="header__list">
            <a class="header__link" href="#advantages">How it’s made?</a>
          </li>
          <li class="header__list">
            <a class="header__link" href="#products">Our products</a>
          </li>
          <li class="header__list">
            <a class="header__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
