<section class="section products">
  <div class="container">
    <div class="section__subtitle">100% natural</div>
    <h2 class="section__title section__title--position">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__card">
          <h3 class="products__title">ice cream</h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
        <button type="button" class="btn">
          <!-- <img src="../images/products/arrow-right-2.png" width="40" alt="" /> -->
        </button>
      </li>

      <li class="products__item products__item--color-orange">
        <div class="products__card">
          <h3 class="products__title">ice coffee</h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
        </div>
        <button type="button" class="btn">
          <!-- <img src="../images/products/arrow-right-2.png" width="40" alt="" /> -->
        </button>
      </li>

      <li class="products__item products__item--color-green">
        <div class="products__card">
          <h3 class="products__title">milkshakes</h3>
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="btn">
            <!-- <img src="../images/products/arrow-right-2.png" width="40" alt="" /> -->
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
