.footer {
  background-color: var(--footer-section-background);
  &__section {
    padding-bottom: 4px;
    @media (max-width: 1200px) {
      padding-top: 20px;
    }
  }
  &__inner {
    margin-bottom: 40px;
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    @media (min-width: 1200px) {
      margin-bottom: 60px;
    }
  }
  &__subtitle {
    display: block;
    width: 232px;
    margin-bottom: 16px;

    font-weight: 400;

    @media (min-width: 768px) {
      width: 340px;
      margin-bottom: 12px;

      @media (min-width: 1200px) {
        width: 472px;
        margin-bottom: 16px;
      }
    }
  }

  &__title {
    display: block;
    width: 200px;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      width: 340px;
      margin-bottom: 0;
    }

    @media (min-width: 1200px) {
      width: 474px;
      font-size: 56px;
      font-weight: 400;
    }
  }

  &__content {
    @media (min-width: 768px) {
      margin-top: 60px;
    }
    @media (min-width: 1200px) {
      margin-top: 16px;
    }
  }

  &__address {
    display: block;
    margin-top: 40px;
  }

  &__tel {
    display: flex;
    justify-content: flex-end;
    gap: 4px;

    font-weight: 700;
    line-height: 1.86;
    color: var(--red-dominant-color);
  }

  &__tel-text {
    font-family: inherit;
    color: var(--black-color-text);
  }
}

.copyright {
  border-top: 1px solid #e1e1e1;
  padding-top: 16px;

  @media (min-width: 768px) {
    padding-top: 8px;
  }

  @media (min-width: 1200px) {
    padding-top: 7px;
  }

  &__text {
    width: 150px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;

    color: #907e82;

    @media (min-width: 768px) {
      min-width: 278px;
    }
  }
}
