.footer {
  &__subtitle {
    font-weight: 400;
  }

  
}

.socials {
    &__list {
        display: flex;
        gap: 28px;
    }

    &__icon {
        fill: #FEA5BB;
    }

}


.copyright {
    border-top: 1px solid #E1E1E1;
}
